/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.barElement {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(216, 143, 206);
  float: left;
}